<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="vendor/bootstrap-3.3.4-dist/css/bootstrap.css"
	rel="stylesheet" />
<script src="vendor/underscore-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
<script src="vendor/backbone-min.js"></script>

<link href="sass/MSUExerGame.css" rel="stylesheet" media="all" />
<!-- <link href="sass/msuSummerCoachesMobile.css" rel="stylesheet"
	media="all" /> -->
<script src="vendor/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
<link href='http://fonts.googleapis.com/css?family=Comfortaa'
	rel='stylesheet' type='text/css'>
	

</head>
<body>
	<script type="text/template" id="intensionStrength-template">
	<header>

		<div class="headerBackground">
			<div class="msuMastHead">
				<a href="http://www.msu.edu" rel="nofollow"><img
					alt="Michigan State University"
					src="Images/masthead-helmet-white.png"></a>
			</div>
			<div class="branchHeading">
				<h1>MSU Exer Game</h1>
			</div>
		</div>
	</header>


	<div class="pageContent">

		<div class="QuestionsContent CenterContent">

			<div class="profileContent">
				<div class="profilepic">
					<img src="<%= img%>" alt="" height="50px" width="50px">
				</div>
				<div class="profilename"><%= name %></div>
				<div class="profiletext">Profile</div>

			</div>

			<span class="QuestionText">1) Approximately how frequently do
				you communicate with the contacts on your "friends" list on the
				social networking site?</span>

			<div class="btn-group" id="Q1" data-toggle="buttons">
				<span class="SideTextRight">Never</span> <label
					class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="1">1
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="2"> 2
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="3"> 3
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="4"> 4
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="5"> 5
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="6"> 6
				</label> <label class="btn btn-default blue  radio-inline"> <input
					type="radio" class="toggle" value="7"> 7
				</label> <span class="SideTextRight">Very Frequently</span>
			</div>

			<span class="QuestionText">2) Overall how important do you
				feel about the contacts on your "friends" list on this social
				networking site?</span>
			<div class="btn-group" id="Q2" data-toggle="buttons">
				<span class="SideTextRight">Not at all important</span> <label
					class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="1">1
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="2"> 2
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="3"> 3
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="4"> 4
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="5"> 5
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="6"> 6
				</label> <label class="btn btn-default blue  radio-inline"> <input
					type="radio" class="toggle" value="7"> 7
				</label> <span class="SideTextRight">Very important</span>
			</div>
			<span class="QuestionText">3) Overall how close do you feel
				with the contacts on your "friends" list on this social networking
				site?</span>
			<div class="btn-group" id="Q3" data-toggle="buttons">
				<span class="SideTextRight"> not at all close</span> <label
					class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="1">1
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="2"> 2
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="3"> 3
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="4"> 4
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="5"> 5
				</label> <label class="btn btn-default blue radio-inline"> <input
					type="radio" class="toggle" value="6"> 6
				</label> <label class="btn btn-default blue  radio-inline"> <input
					type="radio" class="toggle" value="7"> 7
				</label> <span class="SideTextRight">Very close</span>
			</div>


		</div>

		<a href=""> <img src="Images/next.png" class="nextButton"
			id="intensionStrengthNext" />
		</a>
	</div>




	<footer>
		<div id="linked-footer-container">
			<div id="linked-footer">

				<div class="footer-logo">
					<a href="http://www.msu.edu"><img
						src="http://education.msu.edu/images/MSU-wordmark.png"
						alt="Michigan State University Wordmark"></a>
				</div>
				<div id="footer-text">
					<div class="footerSection">
						<a href="http://www.msu.edu">Michigan State University</a> | <a
							href="http://cas.msu.edu">Communication Ats and Science</a> | <a
							href="http://education.msu.edu/sitemap.asp">Sitemap</a> | <a
							href="http://education.msu.edu/about/contact/">Contact Us</a>
					</div>

					<div class="footerSection">© Communication Ats and Science,
						Michigan State University</div>
					<div class="footerSection">308 West Circle Dr | East Lansing,
						MI 48824</div>
				</div>
			</div>
		</div>
	</footer>
   </script>
</body>
<script src="JavaScript/intensionStrength.js"></script>
</html>