$msuGreen: #18453b;
$msuWhite: #fff;
$msuColorPaletteGreen: #0db14b;
$msuOrange: #dc651e;
$msuBlue: #007dc5;
$fbBlue: #3A5795;
$fbLightBlue: #E5E8F2;


body{
	font-family: 'Comfortaa';
	font-family: 'Lucida Grande', Tahoma;
	background-repeat: none;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: 100%;
	background-color:#888888;
}
.headerBackground{
	margin:auto;
	background-size: 100%;
		.branchHeading{
			h1{
			margin:auto;
			background-color: $fbBlue;
			color: $msuWhite;
			text-align: center;
  			line-height: 60px;
  			opacity: 0.8;
			}
		}
		
	
}
.pageContent{
	height: auto !important;
	width:100%;
	height:auto;
	overflow: hidden;
	background-color: $fbLightBlue;
		
		.QuestionsContent{
			.QuestionText{
				display: inline-block;
    			font-size: 16px;
    			margin: 3%;
			}
			.btn-group{
				.SideTextLeft{
					float:left;
				}
				.radio-inline{
					margin-left: 2%;
					margin-right: 2%;
				}
				.btn-default.active{
					color: $msuWhite;
					background-color: $fbBlue;
				}
			
			}
		
		
		}
		.textParagraph{
			color: #333;
			width: 70%;
			margin: auto;
			 
			margin-bottom:30px;
			line-height: 20px;
		}
		
		
		div{
		padding: 0px;
	 	width: 100%;
	 	background: transparent;
	 	border: 0;
			#fbLogin{
				width:300px;
				height:50px;
				
			}
			
			
		}

.nextButton{
	width:300px;
	margin-left: 40%;
}

.pictureContent{
  margin: 20px;
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 3px;
  
}

.infoContent
{
	color: #333333;
	margin: 20px;
	 background-color: $msuWhite;
  float: left;
  width: 20%;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
 
 
}
.QuestionsContent{
 color: #333333;
 background-color: $msuWhite;
 padding:20px;
 margin: 20px;
  float: right;
  width: 60%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 3px;

}
.postContent{
  background-color: $msuWhite;
  float: left;
  width: 32%;
  height:250px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  		.profile{
  			background-color: $msuWhite;
  			height:75px;
  			border-bottom: 1px solid #ccc;
  				.profilepic{
  					float:left;
  					margin: 7px;
  					width:50px;
  				}
  				.profilename{
  					float:left;
  					width: 80%;
  					margin-top: 7px;
  					color : $fbBlue;
  				}
  				.profiletext{
  					float:left;
  					width: 80%;
  					color : #ccc;
  					font-size: 10px;
  				}
  		}
  		.post{
  			.postpic{
  			float:left;
  				margin: 7px;
  				margin-top:25px;
  				width:100px;
  			}
  			.posttext{
  				float:left;
  					width: 60%;
  					color : #ccc;
  					font-size: 12px;
  					margin-bottom:10px;
  			}
  			.postheading{
  				float:left;
  					width: 60%;
  					margin-top: 25px;
  					color : $fbBlue;
  			}
  		}
}
}
#linked-footer-container{
	background-color: $fbBlue;
	opacity: 0.8;
		#linked-footer{
			padding: 20px;
				.footer-logo{
					float: left;
					margin-right:5%;
				}
				#footer-text{
					
						.footerSection{
							margin: 0.5%;
							color: $msuWhite;
								a {
									color: $msuWhite;
								
								}
						}
				}
		}
}